@font-face {
    font-family: 'Montserrat';
url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}

@font-face {
    font-family: 'Roboto Slab';
url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    color: #7c7c7c;
}

h4 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

#to-top {
    position: fixed;
    z-index: 900;
    bottom: 4vh;
    right: -100px;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
    background: #cccccc;
    text-align: center;
    transition: all 2s;
}

.active #to-top {
    right: 2vw;
    transform: rotate(-180deg);
    transition: all 2s;
}

#to-top:hover {
    transition: 0.4s;
    background: #ff1313;
}

#to-top img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}

.welcome {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background: url("../images/background-1.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    transition: 0.4s;
}

header a:hover {
    color: #ff1313;

}

.inner-header {
    max-width: 1150px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.inner-header ul {
    list-style: none;
    display: flex;
}

.main-nav {
    margin-left: auto;
}

.inner-header li {
    margin: 0 15px;
}

.main-nav a {
    padding: 5px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s;
}

.main-nav a:hover {
    color: #f00;
    box-shadow: 0 0 7px rgba(255, 0, 0, 0.9);
}

.welcome h1 {
    font-size: 44px;
    margin: 0;
    font-weight: 400;
}

.welcome h4 {
    margin-top: 15px;
}

@-webkit-keyframes text-animate {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.text-animated {
    background: url(../images/wave-loop.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: text-animate 30s linear infinite alternate;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.logo-animate {
    background: url(../images/animated_text_fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: text-animate 30s linear infinite alternate;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.start-button {
    margin-top: 50px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 22px;
    overflow: hidden;
    /*border: 3px solid #fff;*/
}

.start-button:hover {
    color: #ffffff;
    background-color: #ff1313;
    box-shadow: 0 0 12px #ff1313,
    0 0 40px #ff1313,
    0 0 80px #ff1313;
    transition-delay: 1s;
}

.button__line {
    position: absolute;
    border-radius: 2px;
}

.button__line--top {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(-100%);
    background-image: linear-gradient(to right, transparent, #ff1313);
}


.start-button:hover .button__line--top {
    transform: translateX(100%);
    transition: 1s 0.25s;
}

.button__line--bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(100%);
    background-image: linear-gradient(to left, transparent, #ff1313);
}

.start-button:hover .button__line--bottom {
    transform: translateX(-100%);
    transition: 1s 0.25s;
}

.button__line--left {
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    transform: translateY(100%);
    background-image: linear-gradient(to top, transparent, #ff1313);
}

.start-button:hover .button__line--left {
    transform: translateY(-100%);
    transition: 1s;
}

.button__line--right {
    bottom: 0;
    right: 0;
    width: 2px;
    height: 100%;
    transform: translateY(-100%);
    background-image: linear-gradient(to bottom, transparent, #ff1313);
}

.start-button:hover .button__line--right {
    transform: translateY(100%);
    transition: 1s;
}

.vitrages {
    min-height: 400px;
    color: #6a6a6a;
}

.idea-block {
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.stained-glass-first {
    --image: url(../images/vintage.jpg)
}

.stained-glass-second {
    --image: url(../images/vintage2.jpg)
}

.stained-glass {
    position: relative;
    width: 450px;
    height: 300px;
    margin: 30px 0 0 0;
}

.stained-glass-part {
    position: absolute;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.9);
    background-image: var(--image);
    background-size: 450px 300px;
    background-color: #ccc;
    transition: all 1s;
    border-radius: 4px;
}

.stained-glass-part:hover {
    transform: scale(1.15);
}

.stained-glass-part:nth-child(1) {
    top: 75px;
    z-index: 2;
    width: 100px;
    height: 150px;
    background-position: 0 -75px;
}

.stained-glass-part:nth-child(2) {
    top: 40px;
    left: 50px;
    z-index: 1;
    width: 200px;
    height: 225px;
    background-position: -500px -40px;
}

.stained-glass-part:nth-child(3) {
    left: 187px;
    z-index: 3;
    width: 200px;
    height: 300px;
    background-position: -187px 0;
}

.stained-glass-part:nth-child(4) {
    top: 15px;
    left: 250px;
    z-index: 1;
    width: 200px;
    height: 250px;
    background-position: -250px -15px;
}

.idea-text {
    max-width: 40%;
    margin: 50px 0 0 70px;
}

.idea-header {
    display: flex;
}

.idea-header img {
    height: 75px;
    width: 75px;
}

.idea-header h4 {
    margin-left: 60px;
    text-transform: uppercase;
    color: #c0301c;
    font-size: 18px;
    font-family: 'Montserrat', serif;
}

.idea-header h5 {
    font-size: 14px;
    font-family: 'Montserrat', serif;
    margin-left: 40px;
}

.idea-text p {
    font-family: 'Roboto Light', sans-serif;
    margin-bottom: 30px;
}

.idea-text a {
    text-decoration: none;
    color: #777;
    font-size: 16px;
    transition: 0.4s;
}

.idea-text a:hover {
    color: red;
}

.designe-block {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.designe-block .idea-text {
    margin: 0;
}

.designe-block .stained-glass {
    margin-left: 70px;
}

#services {
    max-width: 1150px;
    margin: 0 auto;
    color: #f1f1f1;
    text-align: center;
    padding: 40px 0;
    background: url("../images/background-1.jpg") no-repeat fixed center center;
    background-size: cover;
}

#services-title {
    position: relative;
    margin: 0 auto;
    max-width: 220px;

}

#services p {
    color: #f1f1f1;
}

#services h4 {
    font-weight: 600;
    margin-bottom: 50px;
}

.services-title h4:after {
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    position: absolute;
    left: 40%;
    background: #f1f1f1;
}

.services-content {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 10px;
}

.services-block {
    margin: 0 10px;
}

.services-block h5 {
    text-transform: uppercase;
    font-weight: 700;
}

.services-block img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.services-block-about {
    text-align: left;
    margin: 0 20px;
}

.about-section {
    max-width: 1150px;
    margin: 0 auto;
    color: #777777;
    text-align: center;
    padding: 40px 0;
}

#slider {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.slide {
    position: relative;
}

.slide img {
    width: 260px;
    height: 260px;
    margin: 0 auto 20px;
}

.slide h5 {
    margin: 5px 0;
}

.prev,
.next {
    position: absolute;
    top: 30%;
    height: 30px;
    width: 30px;
    z-index: 1;
    cursor: pointer;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
    transform: rotate(180deg);
}

.next:hover {
    background: red;
    transition: 0.2s;
}

.prev:hover {
    background: red;
    transition: 0.2s;
}

.get-touch {
    max-width: 1150px;
    margin: 0 auto;
    color: #777777;
    text-align: center;
    padding: 40px 0;
}

#services h4 {
    margin-bottom: 15px;
}

.get-touch h4 {
    margin-bottom: 50px;
    text-transform: uppercase;
}

#touch-content {
    margin-top: 50px;
    display: flex;
}

.touch-content-left {
    width: 300px;

}

.left-slide {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.left-slide img {
    width: 15px;
    height: 20px;
    margin-left: 30px;
}

.left-slide h5 {
    margin: 2px 0 0 15px;
    text-transform: uppercase;
}

.left-slide p {
    margin-left: 60px;
    text-align: left;
}

.touch-content-right {
    padding-left: 150px;
}

.inputs-container {
    display: flex;
}

.inputs-left {
    width: 50%;
}

input[type="text"], input[type="submit"] {
    width: 90%;
    color: #7c7c7c;
    margin: 10px 0;
    background: #f1f1f1;
    padding-left: 20px;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

#textarea {
    width: 95%;
    font-size: 14px;
    resize: vertical;
    height: 100px;
    background: #f1f1f1;
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    text-transform: uppercase;
}

input[type="submit"] {
    width: 30%;
    margin-top: 30px;
    padding-left: 0;
}

input[type="submit"]:hover {
    background: #c0301c;
    color: #f1f1f1;
    transition: 0.4s;
    cursor: pointer;
}

footer {
    background: rgb(207, 14, 14);
    background: linear-gradient(90deg, rgba(207, 14, 14, 1) 0%,
    rgba(247, 41, 41, 1) 44%, rgba(254, 127, 0, 1) 100%);
    text-align: center;
    padding: 50px 0;
    color: #f1f1f1;
}

footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
    margin-bottom: 40px;
}

footer ul li {
    margin: 0 10px;
}

footer a {
    background-image: url("../images/twitter-footer.png");
    background-size: 35px 35px;
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
}

footer a:hover {
    background-color: #6a6a6a;
    transition: 0.4s;
}

footer p {
    color: #f1f1f1;
}

.mobile-menu, .sidebar {
    display: none;
}


@media only screen and (max-width: 998px) {
    #to-top {
        width: 10vw;
        height: 10vw;
    }

    .idea-text {
        max-width: 30%;
    }

    .idea-header h4 {
        font-size: 16px;
        margin: 0 5px;
    }

    .idea-text p {
        font-size: 12px;
    }

    #slider {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .main-nav {
        display: none;
    }

    .mobile-menu {
        position: fixed;
        z-index: 30;
        right: 0;
        left: 0;
        top: 0;
        height: 60px;
        background: #712319;
        border-bottom: 1px solid #333;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-menu a {
        text-decoration: none;
        color: #fff;
        margin-left: 20px;
        font-size: 24px;
    }

    .mobile-btn {
        margin-right: 20px;
        border-radius: 12px;
        padding: 4px;
        cursor: pointer;
    }

    .mobile-btn:hover {
        background: #ff1313;
        box-shadow: 0 0 7px rgba(255, 255, 255, 0.9);
        transition: 0.3s;
    }

    .mobile-menu span {
        height: 4px;
        width: 26px;
        background: #fff;
        margin: 4px;
        display: block;
        border-radius: 8px;
        transition: 0.5s;
    }

    .wrapper {
        margin-top: 60px;
    }

    .sidebar {
        position: fixed;
        display: block;
        margin: -1300px 0 1300px;
        transition: 0.5s;
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgba(139, 43, 29, 0.9);
        z-index: 20;
        top: 60px;
    }

    .sidebar ul {
        padding: 0;
        position: relative;
        z-index: 15;
        max-width: 200px;
        margin: 0 auto;
    }

    .sidebar ul li {
        list-style: none;
        margin-top: 40px;
    }

    .sidebar ul li a {
        text-decoration: none;
        font-family: 'Colaborate', serif;
        font-size: 24px;
        color: #d7d7e3;
        padding: 10px;
        font-weight: normal;
    }

    .sidebar ul li a:hover {
        color: white;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.9);
        transition: 0.3s;
        border-radius: 13px;
    }

    .fader {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .menu-opened .sidebar {
        margin: 0;
        transition: 0.5s;
    }

    .menu-opened .mobile-btn span:nth-child(1) {
        transform: rotate(-45deg);
        transition: 0.5s;
        position: relative;
        top: 8px;
    }

    .menu-opened .mobile-btn span:nth-child(2) {
        visibility: hidden;
        transition: 0s;
    }

    .menu-opened .mobile-btn span:nth-child(3) {
        transform: rotate(45deg);
        transition: 0.5s;
        position: relative;
        bottom: 8px;
    }


    header {
        display: none;
    }

    .idea-block, .designe-block {
        display: block;
    }

    .stained-glass {
        margin: 0 auto;
    }

    .designe-block .stained-glass {
        margin: 0 auto;
    }

    .idea-text {
        max-width: 90%;
        margin: 50px auto 0;
    }

    .designe-block .idea-text {
        margin: 50px auto;
    }

    #touch-content {
        display: block;
    }

    .touch-content-left {
        margin: 0 auto;
        width: 500px;
    }

    .left-slide h5 {
        margin: 2px 100px 0 15px;
    }

    .touch-content-right {
        padding-left: 0;
        max-width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 500px) {
    #to-top {
        width: 17vw;
        height: 17vw;
    }

    .welcome h1 {
        font-size: 24px;
    }

    .welcome h4 {
        font-size: 16px;
    }

    .stained-glass {
        position: relative;
        width: 300px;
        height: 200px;
        margin: 30px auto 0;
    }

    .stained-glass-part {
        position: absolute;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.9);
        background-image: var(--image);
        background-size: 300px 200px;
        background-color: #ccc;
        transition: all 1s;
        border-radius: 4px;
    }

    .stained-glass-part:hover {
        transform: scale(1.15);
    }

    .stained-glass-part:nth-child(1) {
        top: 50px;
        z-index: 2;
        width: 67px;
        height: 100px;
        background-position: 0 -50px;
    }

    .stained-glass-part:nth-child(2) {
        top: 27px;
        left: 33px;
        z-index: 1;
        width: 133px;
        height: 150px;
        background-position: -33px -27px;
    }

    .stained-glass-part:nth-child(3) {
        left: 125px;
        z-index: 3;
        width: 133px;
        height: 200px;
        background-position: -125px 0;
    }

    .stained-glass-part:nth-child(4) {
        top: 10px;
        left: 167px;
        z-index: 1;
        width: 127px;
        height: 167px;
        background-position: -167px -10px;
    }

    .services-content {
        display: block;
    }

    .services-block {
        margin-top: 40px;
        padding: 0 10px;
    }

    .services-block-about {
        font-size: 14px;
        margin-top: 40px;
    }

    .get-touch p, #services p {
        max-width: 90%;
        margin: 5px auto 0;
    }

    .touch-content-left {
        max-width: 300px;
    }

    .touch-content-left p {
        font-size: 10px;
    }

    .inputs-container {
        display: block;
    }

    .inputs-left {
        width: 100%;
    }

    input[type="text"] {
        width: 95%;
    }
}


